<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recruto</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="content d-flex justify-content-center align-items-center vh-100 bg-light">
        <div class="row mw-100 p-3">
            <div class="card shadow rounded-15">
                <div class="card-body text-center">
                    <h1 class="card-title">Hello, {{ name }}!</h1>
                    <p class="card-text">{{ message }}</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>